<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>pssendsms</name>
    <displayName><![CDATA[SendSMS]]></displayName>
    <version><![CDATA[1.0.10]]></version>
    <description><![CDATA[Use our SMS shipping solution to deliver the right information at the right time.]]></description>
    <author><![CDATA[Any Place Media SRL]]></author>
    <tab><![CDATA[advertising_marketing]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>